h1, h2 {
    font-size: 2rem;
}
body {
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
section{
    margin: 0px -25px 0px -25px;
}


main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px;
}





.cart-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    /*height: 150px;  Set the height of the container */
    background-image: repeating-radial-gradient(rgb(255, 179, 245), white);
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(to right, #3acfd5 0%, #9a3ad5 100%) 1;
    width: 60%;
    margin: 15px 10px 15px 10px;
}


.cart-items img{
    height: auto;
    width: 15%;
    padding-top: 0px;
    margin-left: 10px;
}

.cart-items button {
    width: 10%;
    height: 50px;
    margin-right: 10px;
  }

.cart-items h3{
    width: 50%;
}


.cart-items .price{
    color: rgb(251, 100, 173);
    font-family:'Times New Roman', Times, serif;
    width: 10%;
}


#promo {
    width: 30%;
    background-image: linear-gradient(rgb(202, 255, 255), white);
    padding-bottom: 40px;
    border-radius: 20px;
    position: fixed;
    left: 70%;
    top: 25%;
}

#promo input {
    width: 75%;
    margin: auto;
    margin-top: 20px;
}

#promo button {
    width: 100px;
    margin:auto;
    margin-top: 20px;
}

#order-summary {
    width: 30%;
    background-image: linear-gradient(rgb(228, 202, 255), white);
    position: fixed;
    left: 70%;
    top: 55%;
    border-radius: 20px;
}

#checkout {
    width: 35%;
    position: fixed;
    left: 67.5%;
    top: 90%;
}

#checkout button{
    font-size: 1.2em;
}


footer {
    background-color: lightblue;
    color: rgb(9, 123, 123);
    text-align: center;
    padding: 15px;
}