/*general*/
h1, h2 {
    font-size: 2rem;
}
body {
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
section{
    margin: 0px -25px 0px -25px;
}

/*index.html (home page)*/
.split-section {
    color: white;
    margin: 0;
    padding: 0;
    background-image: url('/public/images/wonderlenshome.gif');
    background-size: cover;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    height: 100vh;
    width: 100vw;
    position: relative;
    top: -25px;
    left: -25px;
    display: flex;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .split-section div{
    position: absolute;
    width: 40%;
    left: 30%;
    top: 50%;
  }

  .split-section h2{
    font-size: 50px;
  }

  .split-section p{
    font-size: 20px;
    font-family: fantasy;
  }

  .split-section button{
    height: 50px;
    width: 100px;
    font-size: 1em;
  }

  .big-picture {
    color: white;
    margin: 0;
    padding: 0;
    background-image: url('/public/images/product_9.jpg');
    background-size: cover;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    height: 100vh;
    width: 100vw;
    position: relative;
    top: -50px;
    left: -25px;
    display: flex;
  }

  .big-picture div{
    position: absolute;
    width: 40%;
    left: 30%;
    top: 50%;
    color: white;
  }

  .big-picture h2{
    font-size: 50px;
  }

  .big-picture a{
    color: white;
    font-size: 20px;
    font-family: fantasy;
  }

  .featured-products{
    width: 70%;
    margin: auto;
    background-image: linear-gradient(rgb(202, 255, 255), white);
    margin-top: 10px;
    margin-bottom: 25px;
    border-radius: 20px;
  }

/* Slideshow container */
.slideshow-container {
    position: relative;
    max-width: 50%; /* Adjust to fit the page width */
    margin: auto;
    overflow: hidden;
  }

  .slideshow-container button{
    margin-bottom: 10px;
  }

  /* Slides */
  .slide {
    display: none; /* Hide slides by default */
    text-align: center;
    background-color: white;
    margin-bottom: 50px;
    border-radius: 10px;
    font-family: fantasy;
  }

  /* Image styling */
  .slide img {
    width: 75%;
    height: auto;
  }

  .slide p{
    color: rgb(251, 100, 173);
  }

  /* Navigation buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    padding: 10px;
    color: white;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 5px;
    user-select: none;
  }

  .prev {
    left: 10px;
  }

  .next {
    right: 10px;
  }

  /* Dots navigation */
  .dots {
    text-align: center;
    margin-top: 10px;
  }

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px;
}


footer {
    background-color: lightblue;
    color: rgb(9, 123, 123);
    text-align: center;
    padding: 15px;
}